@model WareHouseManger.Models.EF.Shop_Good

@{
    ViewData["Title"] = "Delete";
}
<div class="card shadow container col-6">
    <div class="card-body">
        <h1>Xóa</h1>
        <h3>Bạn có chắc muốn xóa?</h3>
        <h4>Vật phẩm</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label font-weight-bold">Tên vật phẩm</label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="SubCategoryID" class="control-label font-weight-bold">Loại vật phẩm</label>
                <input class="form-control" value="@Model.SubCategory.SubCategoriName" readonly />
                <span asp-validation-for="SubCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="UnitID" class="control-label font-weight-bold">Đơn vị tính</label>
                <input class="form-control" value="@Model.Unit.Name" readonly />
                <span asp-validation-for="UnitID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProducerID" class="control-label font-weight-bold">Nhà sản xuất</label>
            <input class="form-control" value="@Model.Producer.Name" readonly />
            <span asp-validation-for="ProducerID" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Price" class="control-label font-weight-bold">Giá bán</label>
                <input asp-for="Price" class="form-control" readonly />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Count" class="control-label font-weight-bold">Số lượng</label>
                <input asp-for="Count" class="form-control" readonly />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="CostPrice" class="control-label font-weight-bold">Số lượng tối thiểu</label>
                <input asp-for="CostPrice" class="form-control" readonly />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label font-weight-bold">Chú thích</label>
            <textarea asp-for="Description" class="form-control" rows="5" readonly></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="panel-footer text-right">
            <form asp-action="Delete">
                <input type="hidden" asp-for="TemplateID" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a class="btn btn-light" asp-action="Index">Quay lại</a>
            </form>
        </div>
    </div>
</div>

