@model WareHouseManger.Models.EF.Shop_Good

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow container col-6">
    <div class="card-body">
        <h1>Chỉnh sửa</h1>
        <h4>Vật phẩm</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TemplateID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TemplateID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label font-weight-bold">Tên vật phẩm</label>
                <input asp-for="Name" class="form-control" autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="CategoryID" class="control-label font-weight-bold">Loại vật phẩm</label>
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UnitID" class="control-label font-weight-bold">Đơn vị tính</label>
                    <select asp-for="UnitID" class="form-control" asp-items="ViewBag.UnitID"></select>
                    <span asp-validation-for="UnitID" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ProducerID" class="control-label font-weight-bold">Nhà sản xuất</label>
                <select asp-for="ProducerID" class="form-control" asp-items="ViewBag.ProducerID"></select>
                <span asp-validation-for="ProducerID" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Price" class="control-label font-weight-bold">Giá bán</label>
                    <input id="price" class="form-control text-right num" />
                    <input asp-for="Price" class="form-control" hidden />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Count" class="control-label font-weight-bold">Số lượng</label>
                    <input asp-for="Count" class="form-control" value="@string.Format("{0:G29}",Model.Count)" readonly />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="CostPrice" class="control-label font-weight-bold">Giá nhập (mặc định)</label>
                    <input asp-for="CostPrice" class="form-control" value="@string.Format("{0:G29}",Model.CostPrice)" />
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label font-weight-bold">Chú thích</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="panel-footer text-right">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a class="btn btn-light" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/js/fomatnumber.js"></script>
<script src="~/js/Shop_Goods/common.js"></script>
<script src="~/js/Shop_Goods/edit.js"></script>

}
