@model WareHouseManger.Models.EF.Shop_Goods_Unit

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Chi tiết</h1>
            <h4>Đơn vị tính</h4>
            <hr />
            <div class="panel panel-default ">
                <div class="panel-heading">Thông tin đơn vị tính</div>
                <div class="panel-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Đơn vị tính</label>
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.UnitID">Chỉnh sửa</a>
                    <a class="btn btn-default" asp-action="Index">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

