@model WareHouseManger.Models.EF.Employee

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow container col-6">
    <div class="card-body">
        <h1>Xóa</h1>
        <h3>Bạn có chắc muốn xóa?</h3>
        <h4>Nhân viên</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label font-weight-bold">Tên nhân viên</label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PositionID" class="control-label font-weight-bold">chức vụ</label>
            <input  class="form-control" value="@Model.Position.Name" readonly/>
            <span asp-validation-for="PositionID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label font-weight-bold">Số điện thoại</label>
            <input asp-for="PhoneNumber" class="form-control" readonly />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label font-weight-bold">Địa chỉ</label>
            <input asp-for="Address" class="form-control" readonly />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EMail" class="control-label font-weight-bold"></label>
            <input asp-for="EMail" class="form-control" readonly />
            <span asp-validation-for="EMail" class="text-danger"></span>
        </div>
        <div class="panel-footer text-right">
            <form asp-action="Delete">
                <input type="hidden" asp-for="EmployeeID" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a class="btn btn-default" asp-action="Index">Quay lại</a>
            </form>
        </div>
    </div>
</div>

