@model WareHouseManger.Models.EF.Customer_Category

@{
    ViewData["Title"] = "Create";
}


<div class="card shadow container col-6">
    <div class="card-body">
        <h1>Thêm mới</h1>
        <h4>Loại khách hàng</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label font-weight-bold">Tên loại</label>
                <input asp-for="Name" class="form-control" autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label font-weight-bold">Ghi chú</label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="panel-footer text-right">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a class="btn btn-default" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
