
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="alert alert-danger">Tài khoản của bạn không được quyền truy cập vào trang này!</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

