@model WareHouseManger.Models.EF.Shop_Goods_SubCategory
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow container col-6">
    <div class="card-body">
        <h1>Chỉnh sửa</h1>
        <h4>Danh mục sản phẩm cấp 2</h4>
        <hr />
        <form asp-action="EditSubCate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubCategoryID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubCategoriName" class="control-label font-weight-bold">Tên danh mục</label>
                <input asp-for="SubCategoriName" class="form-control" autofocus />
                <span asp-validation-for="SubCategoriName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortName" class="control-label font-weight-bold">Tên viết tắt</label>
                <input asp-for="SortName" class="form-control" />
                <span asp-validation-for="SortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryParentID" class="control-label font-weight-bold">Tên danh mục cha</label>
                <input asp-for="CategoryParentID" class="form-control" />
                <span asp-validation-for="CategoryParentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoriDescription" class="control-label font-weight-bold">Mô tả</label>
                <input asp-for="SubCategoriDescription" class="form-control" />
                <span asp-validation-for="SubCategoriDescription" class="text-danger"></span>
            </div>

            <div class="panel-footer text-right">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a class="btn btn-light" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}