@model WareHouseManger.Models.EF.FinalSettlement_Customer

@{
    ViewData["Title"] = "Create";
}
<div class="card shadow container col-6">
    <div class="card-body">
        <h1>Thêm mới</h1>
        <h4>Quyết toán khách hàng</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label">Khách hàng</label>
                <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="GoodsIssuesID" class="control-label">Mã phiếu xuất</label>
                <select asp-for="GoodsIssuesID" class="form-control" asp-items="ViewBag.GoodsIssuesID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label">Ngày xuất</label>
                <input type="date" asp-for="DateCreated" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label">Số tiền thanh toán</label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remainder" class="control-label">Còn lại</label>
                <input asp-for="Remainder" class="form-control" />
                <span asp-validation-for="Remainder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a class="btn btn-light" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
