@model WareHouseManger.Models.EF.Shop_Goods_Issue

@{
    ViewData["Title"] = "Create";
}


<div class="card shadow">
    <div class="card-body">
        <h1>Thêm mới</h1>
        <h4>Phiếu xuất</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="DateCreated" class="control-label">Ngày lập</label>
                <input type="date" asp-for="DateCreated" class="form-control" value="@Model.DateCreated.Value.ToString("yyyy-MM-dd")" autofocus />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CustomerID" class="control-label">Khách hàng</label>
                <select asp-for="CustomerID" class="form-control" asp-items="@ViewBag.CustomerID"></select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="EmployeeID" class="control-label">Nhân viên</label>
                <select asp-for="EmployeeID" class="form-control" asp-items="@ViewBag.EmployeeID"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Remark" class="control-label">Ghi chú</label>
            <textarea asp-for="Remark" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Remark" class="text-danger"></span>
        </div>
        <div class="table-responsive">
            <table id="tb-shopgoods" class="table table-bordered table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>Mã hàng hóa</th>
                        <th>Tên hàng hóa</th>
                        <th>Loại hàng hóa</th>
                        <th>Nhà sản xuất</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Tổng tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <button id="btn-addshopgoods" type="button" class="btn btn-sm btn-success">Thêm hàng hoá</button>
        <div class="panel-footer text-right">
            <input id="btn-addrecepit" type="submit" value="Tạo" class="btn btn-primary" />
            <a class="btn btn-light" asp-action="Index">Quay lại</a>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-shopgoods" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Danh mục hàng hóa</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Loại vật phẩm:</label>
                        <select id="select-category" name="select-category" class="form-control" asp-items="ViewBag.CategoryID"></select>
                    </div>
                    <div class="form-group col-md-6 align-self-md-center">
                        <label class="font-weight-bold">Tìm kiếm vật phẩm:</label>
                        <input id="search" type="text" class="form-control" placeholder="Nhập vào từ khóa cần tìm" />
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tb-addshopgoods" class="table table-bordered table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-nowrap text-center align-middle">Mã hàng hóa</th>
                                <th class="text-nowrap text-center align-middle">Tên hàng hóa</th>
                                <th class="text-nowrap text-center align-middle">Nhà sản xuất</th>
                                <th class="text-nowrap text-center align-middle">Đơn vị tính</th>
                                <th class="text-nowrap text-center align-middle">Số lượng tồn</th>
                                <th class="text-nowrap text-center align-middle">Số lượng</th>
                                <th class="text-nowrap text-center align-middle">Đơn giá</th>
                                <th class="text-nowrap text-center align-middle">Tổng</th>
                                <th class="text-nowrap text-center align-middle">Lựa chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-acceptshoppgoods" type="button" class="btn btn-primary">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/fomatnumber.js"></script>
    <script src="~/js/Shop_Goods_Issues/add.js"></script>
}
